*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width:100%;
    height: 100%;
}


.parant{
    width: 100%;
    height: 100%;
    background-color: #68accc;
    
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;

    .card{
        width: 300px;
        height: 400px;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(85, 230, 1, 0.1);
        overflow: hidden;
        transition: transform 0.5s, box-shadow 0.5s;
    }
    .card:hover{
        transform: translateY(-10px);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    }
    .cardimage{
        width: 100%;
        height: 100%;
        background-image: url(https://cdn.pixabay.com/photo/2025/09/21/12/12/crocodile-9846352_960_720.jpg);
        background-size: cover;
        background-position: center;
        transition: transform 0.5s;
    }
    .card:hover.cardimage{
        transform: scale(1.1);
    }
 .cardcontent{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9)
    color #333;
    transition: bottom 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

 }
 .card:hover .cardcontent{
    bottom: 0;
 }
 
}
