*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    /* background-color: brown; */
    color: rgb(205, 236, 236);
}

p{
font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
word-spacing: 1px;
font-weight: 30px;
/* background-color: rgb(179, 99, 99); */
}

h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(108, 35, 177) ; */
    font-weight: 500px;  
}

p{
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    /* background-color: rgb(201, 117, 117); */
    font-weight: 30px;
    word-spacing: 2px;
}

h1{
    font-family: cursive;
    
}

p2{ font-size: 50px;
    font-family: serif;
    
    font-weight: 20px;
    word-spacing: 10px;
}

body{
    background-image: url(https://cdn.pixabay.com/photo/2025/08/03/15/10/cat-9752539_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

}
.box{
    width: 20rem;
    height: 20rem;
    border: 5px solid rgb(230, 14, 14);
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.box2{
    width: 30rem;
    height: 30rem;
    border: 4px solid red;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
li{
    background-color: black;
    color: rgb(33, 199, 199);
    font-size: 2rem;
}

li:hover{
    background-color: brown;
}

a:active{
    color: blue;
}
a:visited{
color: cadetblue;
}

li:nth-child(3){
    background-color: rgb(94, 51, 134);
}



    


