

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}

.parant{
    height: 100%;
    width: 100%;
    background-image: url(./ChatGPT\ Image\ Nov\ 4\,\ 2025\,\ 03_48_05\ PM.png);
    

 .mainhead{
    width: 100%;
    height: 15%;
    text-align: center;

    h1{
        font-size: 5rem;
        color:white
    }
 }

 .bar{
    width: 100%;
    height: 10%;
    background-color: #2b2a2a;
    .box1{
        height: 80%;
        width: 10%;
        display: inline-block;

        button{
            background-color: rgb(49, 49, 3);
            color: white;
            border-radius: 20px;
            padding: 10px 4px;
            cursor: pointer;
            width: 90%;
        }
        button:hover{
            background-color: hsl(208, 66%, 53%);

        }


        .content{
            position: absolute;
            background-color: aqua;
            box-shadow: 3px 4px 5px blue;
            display: none;
            min-width: 100px;

            .content:hover{
                display: block;
            }

            a{
                display: block;
                padding: 10px 5px;
                text-decoration: none;
            }

            a:hover{
                font-size: 1.1;
                background-color: beige;
            }

        }
    }
 }
}  

    