* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    color: white;
}

/* h1{
    color: red;
    background-color: rgb(63, 228, 186);
    font-size: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
} */

p {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
    word-spacing: 5px;
    letter-spacing: 1px;
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2022/12/01/04/42/man-7628305_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}

.box{
    width: 20rem;
    height: 22rem;
    border: 2px solid black;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
