*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.parent{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 2rem;
    h1{
        font-size:10rem;
        text-align: center;
        
    }
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}
.box1{
    width: 25%;
    height: 40%;
    border: 2px solid white;
    border-radius: 30px;
    .img{
        width: 100%;
        height: 60%;
        
 
    }


}
.box2{
    width: 25%;
    height: 40%;
    border: 2px solid white;
    border-radius: 30px;
    .img{
        width: 100%;
        height: 60%;
        
       
    }
}
.box3{
    width: 25%;
    height: 40%;
    border: 2px solid white;
    border-radius: 30px;
    .img{
        width: 100%;
        height: 60%;
        object-fit: cover;
      
    }
}
.box4{
    width: 25%;
    height: 40%;
    border: 2px solid white;
    border-radius: 30px;
    .img{
        width: 100%;
        height: 60%;
        object-fit: cover;
      
    }
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h3{
    font-size: 3rem;
    font-family: serif;
    font-weight: 2rem;
}
p{
    font-size: 3rem;
    font-family: monospace;
    font-weight: 3rem;
}

