@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nata+Sans:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.parant{
    height: 100%;
    width: 100%;
    padding-left: 64px;
    padding-right: 64px;
    
    

    .child1{
        height: 30%;
        width: 100%;
        padding-top: 40px;

        img{
            height: 100%;
            width: 100%;
            
        }
    }

    .child2{
        width: 100%;
        height: 10%;
        display: flex;
        gap: 60rem;  

        .minichild1{
            width: 50%;
            height: 100%;
            font-size: 13px;
        }

        

        .minichild2{
            width:  50%;
            height: 100%;
            font-size: 13px;
        }
    }

    .mainchild1{
        height: 100%;
        width: 100%;
        display: flex;
        gap:5%;
       
        .miniboy1{
            height: 100%;
            width: 50%;
            padding-top: 32px;

            .baby1{
                height: 55%;
                width: 100%;

                .minibaby1{
                    height: 68%;
                    width: 100%;

                    h1{
                        font-size: 70px;
                       font-family:Arial, Helvetica, sans-serif
                        
                        
                    }
                }

                .minibaby2{
                    height: 32%;
                    width: 100%;

                    p{
                        font-size: 22px;
                        font-family: "Roboto Mono", monospace;
                        
                    }
                }
            }

            .baby2{
                width: 100%;
                height: 30%;
                font-size: 28.8PX;
                font-family: "Nata Sans", sans-serif;
                

                .box1{
                    width: 100%;
                    height: 20%;
                    display: flex;
                    justify-content: space-between;
                    
                    

                    .small1{
                        width: 10%;
                        height: 100%;
                    }

                    .small2{
                        width: 20%;
                        height: 100%;
                    }
                }

                .linebox1{
                    width: 100%;
                    height: 20%;
                    align-content: center;

                    .line1{
                        width: 100%;
                        height: 1px;
                        background: #DCDCDC;
                    }
                }

                .box2{
                    width: 100%;
                    height: 20%;
                    display: flex;
                    justify-content: space-between;
                    

                    .smallbox1{
                        width: 10%;
                        height: 100%;
                    }

                    .smallbox2{
                        width: 25%;
                        height: 100%;
                    }
                }

                 .linebox2{
                    width: 100%;
                    height: 20%;
                    align-content: center;

                    .line2{
                        width: 100%;
                        height: 1px;
                        background: #DCDCDC;
                    }
                }
                

                .box3{
                    width: 100%;
                    height: 20%;
                    display: flex;
                    justify-content: space-between;
                  

                    .minibox1{
                        width: 10%;
                        height: 100%;
                    }
                    
                    .minibox2{
                        width: 31%;
                        height: 100%;
                    }
                }

                 .linebox3{
                    width: 100%;
                    height: 20%;
                    align-content: center;

                    .line3{
                        width: 100%;
                        height: 1px;
                        background: #DCDCDC;
                        
                    }
                }

                .box4{
                    width: 100%;
                    height: 20%;
                    display: flex;
                    justify-content: space-between;
                    

                    .tinybox1{
                        width: 10%;
                        height: 100%;
                    }

                    .tinybox2{
                        width: 30%;
                        height: 100%;
                    }
                }

                
            }

        }

        .miniboy2{
            height: 100%;
            width: 50%;

            .img{
                height: 100%;
                width: 100%;

                img{
                    height: 100%;
                    width: 100%;
                    filter: blur(10px);
                    transition: all 0.3s ease;  
                      
                }
                
                img:hover{
                    filter:none;
                    
                    transform: scale(1.1);
                    
                    
                    
                }
            }
        }


    }

    .parant2{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 48px;
    gap: 5%;

    .box1{
        width: 30%;
        height: 73%;
        
        .img2{
            width: 100%;
            height: 100%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }

    .box2{
        width: 75%;
        height: 73%;
        padding-top: 32px;
        padding-bottom: 32px;
        gap: 15%;
        display: flex;
        flex-direction: column;
        
        

        .minibox1{
            width: 100%;
            height: 60%;

            h1{
                font-size: 5.4rem;
                font-family:Arial, Helvetica, sans-serif;
                font-weight: 1rem;
                
            }
        }

        .minibox2{
            width: 70%;
            height: 40%;

            p{
                font-size: 20px;
                font-family: "Roboto Mono", monospace;
            }
        }
    }

}
}

